@using Santa_Final_ASP.Services;
@using Santa_Final_ASP.Services.Repo;
@*Admin Index View*@


@{
    ViewData["Title"] = "Admin";
}

<partial name="/Views/Partials/_HeaderPartial.cshtml" />

<div class="p-5">
    <div class="pt-5">
        <h2> <a class="link" asp-controller="AddProducts" asp-action="Index">Add Products</a> </h2>
        <h1>LIST OF USERS </h1>
        @foreach (var user in Model.Users)
        {
            <div class="pt-5">

                <p>
                    Name:
                    @user.FirstName @user.LastName
                </p>

                <p>
                    Username (Email):
                    @user.UserName
                </p>

                @{
                    var roles = await userManager.GetRolesAsync(user);

                    @foreach (var role in roles)
                    {
                        <p>
                            Role:
                            @role
                        </p>
                    }
                }
            </div>
        }
    </div>
</div>