@*Breadcrumb Partial*@
@using Santa_Final_ASP.ViewModels;

@model BreadcrumbViewModel


<section class="_breadcrumb">
    <div class="container">
        <div class="content">
            <h1>@Model?.Title</h1>
            <ul>
                <li>@Model?.UnderTitle1</li>
                <li>@Model?.UnderTitle2</li>
            </ul>
        </div>
    </div>
</section>