@*Header Partial*@

<header>
    <div class="container">
        <div class="logo"><img src="images/logo.svg" alt="">bmerketo</div>

        @if (ViewData["Title"]?.ToString() == "Home" || ViewData["Title"]?.ToString() == "Contact us" || ViewData["Title"]?.ToString() == "Product" || ViewData["Title"]?.ToString() == "Admin" | ViewData["Title"] == "Admin")
        {
            <nav id="menu" class="menu-links">
                <a class="link" asp-controller="Home" asp-action="Index">HOME</a>
                <a class="link" asp-controller="Product" asp-action="Index">PRODUCTS</a>
                <a class="link" asp-controller="Contacts" asp-action="Index">CONTACT</a>
            </nav>
        }


        <nav class="menu-icons">
            <a class="link" asp-controller="Products" asp-action="Search"><i class="fa-regular fa-search"></i></a>


            <partial name="/Views/Partials/_SignedInPartial.cshtml" />


            <a class="link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>