<div class="productbottomimg">
    <div class="container">
        <img src="./images/placeholders/200x122.svg" alt="">
        <img src="./images/placeholders/200x122.svg" alt="">
        <img src="./images/placeholders/200x122.svg" alt="">
        <img src="./images/placeholders/200x122.svg" alt="">
        <img src="./images/placeholders/200x122.svg" alt="">
    </div>
</div>