<div class="container productButtons">
    <button class="rowButton">DESCRIPTION</button>
    <button class="rowButton">ADDITIONAL INFO</button>
    <button class="rowButton">REVIEWS (0)</button>
    <button class="rowButton">SHIPPING & DELIVERY</button>
</div>