<section class="product_details">
    <div class="container">

        <div class="product_details_left">
            <div class="product_details_left_upp">
                <img src="images/placeholders/501x430.svg" alt="">
            </div>
            <div class="product_details_left_down">
                <div class="container">
                    <img class="smallimg" src="images/placeholders/120x113.svg" alt="">
                    <img class="smallimg" src="images/placeholders/120x113.svg" alt="">
                    <img class="smallimg" src="images/placeholders/120x113.svg" alt="">
                    <img src="images/placeholders/120x113.svg" alt="">
                </div>
            </div>


        </div>


        <div class="product_details_right">
            <h1>Young Star Smart Shoe in Fashion</h1>
            <h2>Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</h2>

            <div class="reviews d-flex">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <p>16 reviews</p>
            </div>
            <h1>30$</h1>

            <div class="add-to-cart">
                <div class="amounts">
                    <div class="decrement">-</div>
                    <div class="number-to-cart">0</div>
                    <div class="increment">+</div>
                </div>
                <button class="btn-theme">Add to Cart</button>

            </div>

            <div class="ballsandsku">
                <div class="ball one"></div>
                <div class="ball two"></div>
                <div class="ball three"></div>
                <p>SKU: N/A</p>
            </div>


            <button class="btn-wishlist rowButton">Add to wishlist</button>
            <p>Category: Table Lamp, Light</p>
        </div>

    </div>
</section>