@*Showcase Partial - on home*@

@model ProductsViewModel


<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO BMERKETO SHOP</div>
            <div class="title">Exclusive Chair gold Collection.</div>
            <button class="btn-theme">SHOP NOW</button>
        </div>
        <div class="content-image">
            @{
                if (Model.Products.Any())
                {
                    <img src="@Model.Products.Where(x => x.ProductTag == "Featured").First().ImgUrl" alt="@Model.Products.Where(x => x.ProductTag == "Featured").First().Name">

                }
                else
                {
                    
                }
            }
        
        </div>
    </div>
</section>