
.productbottomimg {
    background-color: #FAFAFA;

    .container {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
