
.product_details {
    margin-top: 75px;

    .container {
        display: flex;
        justify-content: space-between;

        .product_details_left {
            padding-right: 100px;

            .product_details_left_upp {
                padding-bottom: 7px;
            }

            .product_details_left_down {
                display: flex;
                justify-content: space-around;

                .container {
                    padding: 0;
                }
            }
        }

        .product_details_right {
            display: flex;
            flex-direction: column;
            gap: 30px;


            h1 {
                font-family: $font-poppins;
                font-size: 24px;
                font-weight: $font-weight-medium;
            }

            h2 {
                font-family: $font-roboto;
                font-size: 16px;
                font-weight: $font-weight-regular;
            }

            .reviews {
                gap: 2px;

                p {
                    margin-left: 13px;
                }
            }

            p {
                font-family: $font-roboto;
                font-size: 16px;
                font-weight: $font-weight-regular;
            }

            .checked {
                color: orange;
            }

            .add-to-cart {
                display: flex;
                gap: 20px;

                .amounts {
                    display: flex;
                    align-items: center;

                    * {
                        border: 1px solid #ECEBEB;
                        height: 100%;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    :nth-child(1), :nth-child(3) {
                        cursor: pointer;
                        transition: background 250ms ease-in;
                    }

                    :nth-child(1):hover, :nth-child(3):hover {
                        background-color: #ECEBEB;
                    }
                }
            }

            .ballsandsku {
                display: flex;
                align-items: center;

                .ball {
                    display: flex;
                    width: 18px;
                    height: 18px;
                    margin: 3.5px;
                    border-radius: 50%;
                }

                .one {
                    background-color: #FA3150;
                }

                .two {
                    background-color: #F9C936;
                }

                .three {
                    background-color: #92B8B9;
                }

                p {
                    margin-left: 40px;
                    margin-bottom: 0;
                }
            }

            @include rowBtn;

            .btn-wishlist {
                max-width: 195px;
            }
        }
    }
}
