@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");

html, body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #636363;
}

.open-menu {
    width: 100vw !important;
    opacity: 0.99;
    transform: translateX(-100%);
}

.invalid {
    border: 1px solid #FA3150 !important;
}

.btn-toggle {
    font-family: "Poppins", sans-serif;
    font-size: 1.8em;
    padding: 0 !important;
    background-color: transparent;
    border: none !important;
}

    .btn-toggle:hover {
        color: #202020 !important;
        background-color: transparent !important;
    }

.btn-toggle-white {
    font-family: "Poppins", sans-serif;
    font-size: 1.8em;
    padding: 0 !important;
    background-color: transparent;
    border: none !important;
}

    .btn-toggle-white:hover {
        color: #636363 !important;
        background-color: transparent !important;
    }

.btn-outline-white {
    font-family: "Poppins", sans-serif;
    padding: 10px 25px;
    border: 1px solid #636363;
    background-color: #FFFFFF;
    color: #636363;
    transition: all 0.25s ease-in-out;
}

    .btn-outline-white:hover {
        border: 1px solid #292929;
        background-color: #292929;
        color: #FFFFFF;
    }

.btn-outline-dark {
    font-family: "Poppins", sans-serif;
    padding: 10px 25px;
    border: 0px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    transition: all 0.25s ease-in-out;
}

    .btn-outline-dark:hover {
        border: 0px solid #292929;
        background-color: transparent;
        color: #FFFFFF;
    }

.btn-theme {
    font-family: "Poppins", sans-serif;
    padding: 10px 35px;
    border: 1px solid #FA3150;
    background-color: #FA3150;
    color: #FFFFFF;
    transition: all 0.25s ease-in-out;
}

    .btn-theme:hover {
        border: 1px solid #292929;
        background-color: #292929;
        color: #FFFFFF;
    }

.btn-rounded {
    border-radius: 25px;
}

.btn-rounded-1 {
    border-radius: 10px;
}

.productButtons {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .productButtons .rowButton {
        width: 100%;
        border: 1px solid #E1E1E1;
        background-color: transparent;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        color: #636363;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: 200ms ease-in-out;
    }

        .productButtons .rowButton:hover {
            background-color: #FA3150;
            color: white;
            border: 1px solid #FA3150;
        }

.collection-item {
    background-color: #FFFFFF;
    text-decoration: none;
    display: block;
}

    .collection-item img {
        width: 100%;
        height: auto;
    }

    .collection-item .body {
        color: #292929;
        font-family: "Poppins", sans-serif;
        padding: 10px;
    }

        .collection-item .body .title {
            grid-area: title;
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
        }

        .collection-item .body .info {
            font-family: "Poppins", sans-serif;
            padding: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
        }

            .collection-item .body .info .price {
                grid-area: price;
                font-size: 16px;
                align-items: center;
            }

            .collection-item .body .info .add-cart {
                grid-area: cart;
                text-align: right;
                align-items: center;
                padding: 2px;
                font-size: 24px;
                color: #292929;
            }

                .collection-item .body .info .add-cart:hover {
                    color: #AEAEAE;
                }

    .collection-item:hover {
        text-decoration: none;
    }

@media (min-width: 1200px) {
    .collection-item .add-cart {
        display: none;
    }

    .collection-item:hover .add-cart {
        display: block;
    }
}

.collection-content {
    background-color: #FFFFFF;
    text-decoration: none;
    display: block;
}

    .collection-content img {
        width: 100%;
        height: auto;
    }

    .collection-content .body {
        color: #292929;
        font-family: "Poppins", sans-serif;
        padding: 10px;
    }

        .collection-content .body .title {
            grid-area: title;
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
        }

        .collection-content .body .info {
            font-family: "Poppins", sans-serif;
            padding: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
        }

            .collection-content .body .info .price {
                grid-area: price;
                font-size: 16px;
                align-items: center;
            }

            .collection-content .body .info .add-cart {
                grid-area: cart;
                text-align: right;
                align-items: center;
                padding: 2px;
                font-size: 24px;
                color: #292929;
            }

                .collection-content .body .info .add-cart:hover {
                    color: #AEAEAE;
                }

    .collection-content:hover {
        text-decoration: none;
    }

@media (min-width: 1200px) {
    .collection-content .add-cart {
        display: none;
    }

    .collection-content:hover .add-cart {
        display: block;
    }
}

textarea,
input,
input:not([type=checkbox]) {
    border: 1px solid #E1E1E1;
    background-color: #FAFAFA;
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 15px;
    outline: 0;
}

    textarea:focus,
    input:focus,
    input:not([type=checkbox]):focus {
        border: 1px solid #AEAEAE;
    }

.invalid {
    border: 1px solid #FA3150 !important;
}

.custom-checkbox {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
}

    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        border: 1px solid #E1E1E1;
    }

        .custom-checkbox input:checked + .checkmark {
            height: 25px;
            width: 25px;
            background-color: #FAFAFA;
            border: 1px solid #AEAEAE;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .custom-checkbox input:checked + .checkmark::after {
                content: "";
                height: 15px;
                width: 15px;
                background-color: #636363;
            }

    .custom-checkbox .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #FAFAFA;
        border: 1px solid #E1E1E1;
        z-index: -1;
    }

.form-group {
    width: 100%;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .form-group span {
        display: inline-block;
        color: #FA3150;
        height: 20px;
        margin-top: 2px;
        font-size: 0.8em;
    }

.form-checkbox-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: #FFFFFF;
    display: flex;
    padding: 0 20px;
}

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logo toggle";
    }

@media (min-width: 992px) {
    header .container {
        grid-template-columns: 4fr 4fr;
        grid-template-areas: "logo menulinks";
    }
}

@media (min-width: 1200px) {
    header .container {
        grid-template-columns: 4fr 4fr 1fr;
        grid-template-areas: "logo menulinks menuicons";
    }
}

header .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #202020;
}

    header .logo img {
        margin-right: 5px;
    }

header .menu-links {
    grid-area: menulinks;
    background-color: #292929;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0vw;
    padding-top: 80px;
    transform: translateX(0%);
    transition: all 0.25s;
    font-size: 20px;
    overflow: hidden;
}

@media (min-width: 992px) {
    header .menu-links {
        position: static;
        width: 100%;
        font-size: 16px;
        padding: 0;
        background-color: transparent;
        color: #292929;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    header .menu-links {
        margin-right: 20px;
    }
}

header .menu-links .link {
    font-family: "Poppins", sans-serif;
    border: 1px solid #202020;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    text-decoration: none;
    font-weight: 500;
}

    header .menu-links .link:hover {
        background-color: #202020;
    }

@media (min-width: 992px) {
    header .menu-links .link {
        color: #000000;
        border: none;
        padding: 0;
        margin: 0 0 0 30px;
        justify-content: right;
        font-size: 16px;
    }

        header .menu-links .link:hover {
            background-color: transparent;
            color: #FA3150;
        }
}

header .menu-icons {
    grid-area: menuicons;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #292929;
    color: #FFFFFF;
}

@media (min-width: 1200px) {
    header .menu-icons {
        position: static;
        padding: 0;
        background-color: #FFFFFF;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

header .menu-icons .link {
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
}

    header .menu-icons .link:hover {
        color: #AEAEAE;
    }

@media (min-width: 1200px) {
    header .menu-icons .link {
        position: static;
        color: #636363;
        margin: 0 0 0 25px;
        font-size: 18px;
    }

        header .menu-icons .link:hover {
            color: #FA3150;
        }
}

header .toggle {
    grid-area: toggle;
    position: relative;
    display: block;
    text-align: right;
    z-index: 1;
}

@media (min-width: 992px) {
    header .toggle {
        display: none;
    }
}

footer {
    font-family: "Poppins", sans-serif;
    padding: 30px;
    background-color: #292929;
    color: #AEAEAE;
}

    footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

._breadcrumb {
    text-align: center;
    height: 200px;
    display: flex;
    background: #E1E1E1;
}

@media (min-width: 768px) {
    ._breadcrumb {
        height: 300px;
        width: 100%;
    }
}

._breadcrumb .container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

._breadcrumb h1 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #292929;
}

._breadcrumb ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    gap: 10px;
    color: #292929;
}

    ._breadcrumb ul li {
        padding: 0;
    }

.map iframe {
    width: 100%;
    height: 250px;
    margin-bottom: -6px;
}

@media (min-width: 992px) {
    .map iframe {
        height: 500px;
    }
}

.showcase {
    background-color: #F3F2F2;
    padding: 60px 0px;
}

@media (min-width: 992px) {
    .showcase {
        padding: 0px 0 40px 0;
    }
}

@media (min-width: 1200px) {
    .showcase {
        padding: 0px 0 60px 0;
    }
}

.showcase .container {
    padding-top: 80px;
    display: block;
    text-align: center;
}

@media (min-width: 992px) {
    .showcase .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.showcase .content {
    font-family: "Poppins", sans-serif;
    color: #292929;
}

@media (min-width: 992px) {
    .showcase .content {
        flex: 2;
        text-align: left;
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {
    .showcase .content {
        flex: 1;
        padding-right: 100px;
    }
}

.showcase .content .ingress {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.showcase .content .title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
}

@media (min-width: 992px) {
    .showcase .content .title {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .showcase .content .title {
        font-size: 65px;
        margin-bottom: 50px;
    }
}

.showcase .content-image {
    display: none;
}

@media (min-width: 992px) {
    .showcase .content-image {
        flex: 1;
        display: block;
    }
}

.showcase img {
    width: 100%;
    height: auto;
}

.best-collection {
    padding: 40px 20px;
}

    .best-collection .collection-title {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 38px;
        color: #292929;
    }

@media (min-width: 768px) {
    .best-collection .collection-title {
        font-size: 48px;
    }
}

.best-collection .categories {
    display: none;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .best-collection .categories {
        display: flex;
    }
}

.best-collection .categories .category-item {
    margin-right: 5px;
}

    .best-collection .categories .category-item + li::before {
        content: "/";
        margin-right: 5px;
    }

.best-collection .collection-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

@media (min-width: 768px) {
    .best-collection .collection-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .best-collection .collection-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .best-collection .collection-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.best-collection .load-more {
    margin-top: 40px;
    text-align: center;
}

.up-to-sell {
    background-color: #FAEFEF;
    padding: 40px 20px;
}

    .up-to-sell .collection-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "content" "item-1" "item-2";
        gap: 40px;
    }

@media (min-width: 768px) {
    .up-to-sell .collection-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content content" "item-1 item-2";
    }
}

@media (min-width: 992px) {
    .up-to-sell .collection-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "item-1 content item-2";
    }
}

.up-to-sell .collection-grid .item-1 {
    grid-area: item-1;
}

.up-to-sell .collection-grid .discover {
    grid-area: content;
}

.up-to-sell .collection-grid .item-2 {
    grid-area: item-2;
}

.up-to-sell .collection-grid .collection-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

    .up-to-sell .collection-grid .collection-content .container {
        text-align: center;
        padding: 30px 20px;
    }

@media (min-width: 768px) {
    .up-to-sell .collection-grid .collection-content .container {
        padding: 30px 80px;
    }
}

@media (min-width: 992px) {
    .up-to-sell .collection-grid .collection-content .container {
        padding: 10px 20px;
    }
}

@media (min-width: 1200px) {
    .up-to-sell .collection-grid .collection-content .container {
        padding: 30px;
    }
}

.up-to-sell .collection-grid .collection-content .title-red {
    font-family: "Poppins", sans-serif;
    color: #FA3150;
    font-size: 18px;
    font-weight: 700;
}

.up-to-sell .collection-grid .collection-content .title {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    color: #292929;
}

.up-to-sell .collection-grid .collection-content .ingress {
    font-family: "Poppins", sans-serif;
    color: #292929;
    font-size: 24px;
    font-weight: 700;
}

.up-to-sell .collection-grid .collection-content .text {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #636363;
    font-size: 16px;
    font-weight: 400;
}

.up-to-sell .collection-grid .collection-content .link {
    display: block;
    margin-top: 10px;
    color: #292929;
}

    .up-to-sell .collection-grid .collection-content .link:hover {
        color: #FA3150;
    }

@media (min-width: 1200px) {
    .up-to-sell .collection-grid .collection-content .link {
        margin-top: 50px;
    }
}

.top-selling {
    padding: 40px 20px;
}

    .top-selling .collection-title {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 30px;
        color: #292929;
    }

    .top-selling .collection-grid {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

@media (min-width: 768px) {
    .top-selling .collection-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .top-selling .collection-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .top-selling .collection-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

.top-selling .collection-grid .collection-item .body .title {
    font-size: 14px;
    font-weight: 500;
}

.top-selling .load-more {
    margin-top: 40px;
    text-align: center;
}

.top-selling .collection-flex {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

@media (min-width: 768px) {
    .top-selling .collection-flex {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .top-selling .collection-flex {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .top-selling .collection-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .top-selling .collection-flex .collection-item {
            max-width: 370px;
        }
}

.top-selling .collection-flex .collection-item .body {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

    .top-selling .collection-flex .collection-item .body .title {
        font-size: 20px;
        font-weight: medium;
        font-family: "Poppins", sans-serif;
    }

    .top-selling .collection-flex .collection-item .body .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        height: auto;
    }

        .top-selling .collection-flex .collection-item .body .info .description {
            font-size: 16px;
            color: #202020;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }

        .top-selling .collection-flex .collection-item .body .info .posted-by {
            font-size: 16px;
            color: #AEAEAE;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
        }

        .top-selling .collection-flex .collection-item .body .info .info-comments {
            font-size: 16px;
            color: #AEAEAE;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
        }

        .top-selling .collection-flex .collection-item .body .info i {
            position: absolute;
            bottom: 0;
            right: 0;
        }

.newsletter {
    font-family: "Poppins", sans-serif;
    background-color: #AEAEAE;
    padding: 30px 20px;
    z-index: -1;
}

@media (min-width: 768px) {
    .newsletter {
        padding: 50px 20px;
    }
}

@media (min-width: 1200px) {
    .newsletter {
        padding: 80px 20px;
    }
}

.newsletter .container {
    background-color: #FFFFFF;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

@media (min-width: 992px) {
    .newsletter .container {
        padding: 70px 50px;
    }
}

@media (min-width: 1200px) {
    .newsletter .container {
        padding: 70px 100px;
    }
}

.newsletter form {
    width: 100%;
    position: relative;
    z-index: 0;
}

    .newsletter form input {
        position: relative;
        height: 46px;
        width: 100%;
        border-radius: 25px;
        border: 1px solid #E1E1E1;
        padding: 0 0 0 20px;
        outline: 0;
    }

        .newsletter form input:focus {
            border: 1px solid #AEAEAE;
        }

@media (min-width: 768px) {
    .newsletter form input {
        padding: 0 0 0 40px;
    }
}

.newsletter form button {
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 992px) {
    .newsletter form button::after {
        margin-left: 15px;
        content: "SUBSCRIBE FOR NEWSLETTER";
    }
}

.contact-form {
    padding: 20px 0 60px 0;
}

@media (min-width: 992px) {
    .contact-form {
        padding: 60px 0;
    }
}

.contact-form .container {
    padding: 30px;
    color: #636363;
}

@media (min-width: 768px) {
    .contact-form .container {
        border-radius: 5px;
        box-shadow: 0px 0px 5px #E1E1E1;
    }
}

.contact-form .title {
    margin-bottom: 40px;
}

.contact-form form {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "email" "phoneNumber" "companyName" "message" "terms" "button";
    color: #636363;
}

@media (min-width: 992px) {
    .contact-form form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name email" "phoneNumber companyName" "message message" "terms terms" "button button";
    }
}

.contact-form form .name {
    grid-area: name;
}

.contact-form form .email {
    grid-area: email;
}

.contact-form form .phoneNumber {
    grid-area: phoneNumber;
}

.contact-form form .companyName {
    grid-area: companyName;
}

.contact-form form .terms {
    grid-area: terms;
    margin: 10px 0;
}

.contact-form form .message {
    grid-area: message;
}

.contact-form form textarea {
    height: 100px;
    resize: none;
}

.contact-form form button {
    grid-area: button;
}

@media (min-width: 992px) {
    .contact-form form button {
        display: flex;
        justify-self: flex-start;
    }
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .login-form {
        padding: 150px 0 130px 0;
    }
}

.login-form .container {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #E1E1E1;
    margin-top: 6vh;
    margin-bottom: 9vh;
    color: #202020;
}

    .login-form .container .underline {
        width: 60px;
        border: 1px solid #C4C4C4;
        margin-bottom: 50px;
    }

    .login-form .container form {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;
        color: #636363;
    }

        .login-form .container form label {
            margin-bottom: 0;
            color: #636363;
        }

        .login-form .container form .email-text {
            display: flex;
            align-items: center;
        }

            .login-form .container form .email-text a {
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #FA3150;
                margin-left: 20px;
            }

        .login-form .container form .password-text {
            display: flex;
            justify-content: space-between;
        }

            .login-form .container form .password-text a {
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                color: #FA3150;
            }

        .login-form .container form .form-grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1;
            gap: 35px;
            grid-template-areas: "firstName" "lastName" "streetName" "postalCode" "city" "phoneNumber" "companyName" "email   " "password   " "confirmPassword   " "profileImage   ";
        }

            .login-form .container form .form-grid .firstName {
                grid-area: firstName;
            }

            .login-form .container form .form-grid .lastName {
                grid-area: lastName;
            }

            .login-form .container form .form-grid .streetName {
                grid-area: streetName;
            }

            .login-form .container form .form-grid .postalCode {
                grid-area: postalCode;
            }

            .login-form .container form .form-grid .city {
                grid-area: city;
            }

            .login-form .container form .form-grid .phoneNumber {
                grid-area: phoneNumber;
            }

            .login-form .container form .form-grid .companyName {
                grid-area: companyName;
            }

            .login-form .container form .form-grid .email {
                grid-area: email;
            }

            .login-form .container form .form-grid .password {
                grid-area: password;
            }

            .login-form .container form .form-grid .confirmPassword {
                grid-area: confirmPassword;
            }

            .login-form .container form .form-grid .profileImage {
                grid-area: profileImage;
            }

            .login-form .container form .form-grid label {
                color: #636363;
            }

@media (min-width: 992px) {
    .login-form .container form .form-grid {
        grid-template-columns: 4;
        gap: 35px;
        grid-template-areas: "firstName firstName lastName lastName" "streetName streetName streetName streetName" "postalCode postalCode city city" "phoneNumber phoneNumber companyName companyName" "email email email email" "password password password password" "confirmPassword confirmPassword confirmPassword confirmPassword" "profileImage profileImage profileImage profileImage";
    }
}

.productbottomimg {
    background-color: #FAFAFA;
}

    .productbottomimg .container {
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

.prodDescriptionUpp h1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #363636;
    padding-bottom: 20px;
}

.prodDescriptionDown {
    display: flex;
}

    .prodDescriptionDown .textSection h2 {
        color: #636363;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 30px;
    }

    .prodDescriptionDown .textSection .morepadding {
        padding-top: 30px;
    }

    .prodDescriptionDown .imgSection {
        padding-left: 40px;
    }

.product_details {
    margin-top: 75px;
}

    .product_details .container {
        display: flex;
        justify-content: space-between;
    }

        .product_details .container .product_details_left {
            padding-right: 100px;
        }

            .product_details .container .product_details_left .product_details_left_upp {
                padding-bottom: 7px;
            }

            .product_details .container .product_details_left .product_details_left_down {
                display: flex;
                justify-content: space-around;
            }

                .product_details .container .product_details_left .product_details_left_down .container {
                    padding: 0;
                }

        .product_details .container .product_details_right {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

            .product_details .container .product_details_right h1 {
                font-family: "Poppins", sans-serif;
                font-size: 24px;
                font-weight: 500;
            }

            .product_details .container .product_details_right h2 {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

            .product_details .container .product_details_right .reviews {
                gap: 2px;
            }

                .product_details .container .product_details_right .reviews p {
                    margin-left: 13px;
                }

            .product_details .container .product_details_right p {
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-weight: 400;
            }

            .product_details .container .product_details_right .checked {
                color: orange;
            }

            .product_details .container .product_details_right .add-to-cart {
                display: flex;
                gap: 20px;
            }

                .product_details .container .product_details_right .add-to-cart .amounts {
                    display: flex;
                    align-items: center;
                }

                    .product_details .container .product_details_right .add-to-cart .amounts * {
                        border: 1px solid #ECEBEB;
                        height: 100%;
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .product_details .container .product_details_right .add-to-cart .amounts :nth-child(1), .product_details .container .product_details_right .add-to-cart .amounts :nth-child(3) {
                        cursor: pointer;
                        transition: background 250ms ease-in;
                    }

                        .product_details .container .product_details_right .add-to-cart .amounts :nth-child(1):hover, .product_details .container .product_details_right .add-to-cart .amounts :nth-child(3):hover {
                            background-color: #ECEBEB;
                        }

            .product_details .container .product_details_right .ballsandsku {
                display: flex;
                align-items: center;
            }

                .product_details .container .product_details_right .ballsandsku .ball {
                    display: flex;
                    width: 18px;
                    height: 18px;
                    margin: 3.5px;
                    border-radius: 50%;
                }

                .product_details .container .product_details_right .ballsandsku .one {
                    background-color: #FA3150;
                }

                .product_details .container .product_details_right .ballsandsku .two {
                    background-color: #F9C936;
                }

                .product_details .container .product_details_right .ballsandsku .three {
                    background-color: #92B8B9;
                }

                .product_details .container .product_details_right .ballsandsku p {
                    margin-left: 40px;
                    margin-bottom: 0;
                }

            .product_details .container .product_details_right .rowButton {
                width: 100%;
                border: 1px solid #E1E1E1;
                background-color: transparent;
                font-family: "Roboto", sans-serif;
                font-size: 1rem;
                color: #636363;
                padding-top: 1rem;
                padding-bottom: 1rem;
                transition: 200ms ease-in-out;
            }

                .product_details .container .product_details_right .rowButton:hover {
                    background-color: #FA3150;
                    color: white;
                    border: 1px solid #FA3150;
                }

            .product_details .container .product_details_right .btn-wishlist {
                max-width: 195px;
            }

.relatedtitle {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #292929;
}

.relatedProducts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

    .relatedProducts .collection-item {
        background-color: #FFFFFF;
        text-decoration: none;
        display: block;
    }

        .relatedProducts .collection-item img {
            width: 100%;
            height: auto;
        }

        .relatedProducts .collection-item .body {
            color: #292929;
            font-family: "Poppins", sans-serif;
            padding: 10px;
        }

            .relatedProducts .collection-item .body .title {
                grid-area: title;
                font-size: 18px;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
            }

            .relatedProducts .collection-item .body .info {
                font-family: "Poppins", sans-serif;
                padding: 2px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 40px;
            }

                .relatedProducts .collection-item .body .info .price {
                    grid-area: price;
                    font-size: 16px;
                    align-items: center;
                }

                .relatedProducts .collection-item .body .info .add-cart {
                    grid-area: cart;
                    text-align: right;
                    align-items: center;
                    padding: 2px;
                    font-size: 24px;
                    color: #292929;
                }

                    .relatedProducts .collection-item .body .info .add-cart:hover {
                        color: #AEAEAE;
                    }

        .relatedProducts .collection-item:hover {
            text-decoration: none;
        }

@media (min-width: 1200px) {
    .relatedProducts .collection-item .add-cart {
        display: none;
    }

    .relatedProducts .collection-item:hover .add-cart {
        display: block;
    }
}
