<section class="login-form">
    <div class="container">
        <div class="title">Please Login to Your Account</div>
        <div class="underline"></div>
        <form novalidate>
            <div class="email form-group">
                <div class="email-text">
                    <label for="email">Your Email*</label>
                    <a asp-controller="Signup" asp-action="Index">Don't have an Account yet?</a>
                </div>
                <input id="email" type="text" class="invalid">
                <span class="error">Your email is required</span>
            </div>
            <div class="password form-group">
                <div class="password-text">
                    <label for="password">Your Password*</label>
                    <a href="#">Forgot Your Password ? </a>
                </div>
                <input id="password" type="password" class="invalid">
                <span class="error">Your password is required</span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Please keep me logged in
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>
