@*Signup Form Pertial*@

@{
    ViewData["Title"] = "SingUp";

}

<section class="login-form">
    <div class="container">
        <div class="title">Please Register Your new Account</div>
        <div class="underline"></div>
        <form id="signup-form" method="post" novalidate>
            <div class="form-grid">
                <div class="firstName form-group">
                    <div class="firstName-text">
                        <label for="FirstName">First Name*</label>
                    </div>
                    <input id="signup-firstName" type="text">
                    <span class="signup-error"></span>
                </div>
                <div class="lastName form-group">
                    <div class="lastName-text">
                        <label for="LastName">Last Name*</label>
                    </div>
                    <input id="signup-lastName" type="text">
                    <span class="signup-error"></span>
                </div>
                <div class="streetName form-group">
                    <div class="streetName-text">
                        <label for="StreetName">Street Name</label>
                    </div>
                    <input  id="signup-streetName" type="text">
                </div>
                <div class="postalCode form-group">
                    <div class="postalCode-text">
                        <label for="PostalCode">Postal Code</label>
                    </div>
                    <input id="signup-postalCode" type="text">
                </div>
                <div class="city form-group">
                    <div class="city-text">
                        <label for="City">City Name</label>
                    </div>
                    <input id="signup-city" type="text">
                </div>
                <div class="phoneNumber form-group">
                    <div class="phoneNumber-text">
                        <label for="PhoneNumber">Phone Number</label>
                    </div>
                    <input id="signup-phoneNumber" type="text">
                </div>
                <div class="companyName form-group">
                    <div class="companyName-text">
                        <label for="CompanyName">Company Name</label>
                    </div>
                    <input id="signup-companyName" type="text">
                </div>
                <div class="email form-group">
                    <div class="email-text">
                        <label for="Email">Email*</label>
                    </div>
                    <input id="signup-email" type="text">
                    <span class="signup-error"></span>
                </div>
                <div class="password form-group">
                    <div class="password-text">
                        <label for="Password">Password*</label>
                    </div>
                    <input id="signup-password" type="password">
                    <span class="signup-error"></span>
                </div>
                <div class="confirmPassword form-group">
                    <div class="password-text">
                        <label for="ConfirmPassword">Confirm Password*</label>
                    </div>
                    <input id="signup-confirmPassword" type="password">
                    <span class="signup-error"></span>
                </div>
                <div class="profileImage form-group">
                    <div class="profileImage-text">
                        <label for="ProfileImageUrl">Paste a URL to a profileimage here.</label>
                    </div>
                    <input id="signup-profileImage" type="text">
                </div>

            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    I have read and accepts the terms and agreements
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button id="signupFormButton" class="btn-theme">Submit</button>
        </form>
    </div>
</section>