@*Signup Form Pertial*@

@{
    ViewData["Title"] = "SingUp";

}

<section class="login-form">
    <div class="container">
        <div class="title">Please Register Your new Account</div>
        <div class="underline"></div>
        <form novalidate>
            <div class="form-grid">
                <div class="firstName form-group">
                    <div class="firstName-text">
                        <label for="firstName">First Name*</label>
                    </div>
                    <input id="firstName" type="text" class="invalid">
                    <span class="error">A first name is required</span>
                </div>
                <div class="lastName form-group">
                    <div class="lastName-text">
                        <label for="lastName">Last Name*</label>
                    </div>
                    <input id="lastName" type="text" class="invalid">
                    <span class="error">A last name is required</span>
                </div>
                <div class="streetName form-group">
                    <div class="streetName-text">
                        <label for="streetName">Street Name</label>
                    </div>
                    <input id="streetName" type="text">
                </div>
                <div class="postalCode form-group">
                    <div class="postalCode-text">
                        <label for="postalCode">Postal Code</label>
                    </div>
                    <input id="postalCode" type="text">
                </div>
                <div class="city form-group">
                    <div class="city-text">
                        <label for="city">City Name</label>
                    </div>
                    <input id="city" type="text">
                </div>
                <div class="phoneNumber form-group">
                    <div class="phoneNumber-text">
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                    <input id="phoneNumber" type="text">
                </div>
                <div class="companyName form-group">
                    <div class="companyName-text">
                        <label for="companyName">Company Name</label>
                    </div>
                    <input id="companyName" type="text">
                </div>
                <div class="email form-group">
                    <div class="email-text">
                        <label for="email">Email*</label>
                    </div>
                    <input id="email" type="text" class="invalid">
                    <span class="error">An email address is required</span>
                </div>
                <div class="password form-group">
                    <div class="password-text">
                        <label for="password">Password*</label>
                    </div>
                    <input id="password" type="password" class="invalid">
                    <span class="error">A password is required</span>
                </div>
                <div class="confirmPassword form-group">
                    <div class="password-text">
                        <label for="confirmPassword">Confirm Password*</label>
                    </div>
                    <input id="confirmPassword" type="password" class="invalid">
                    <span class="error">You need to confirm your password.</span>
                </div>
                <div class="profileImage form-group">
                    <div class="profileImage-text">
                        <label for="profileImage">Paste a URL to a profileimage here.</label>
                    </div>
                    <input id="profileImage" type="text">
                </div>

            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    I have read and accepts the terms and agreements
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button class="btn-theme">Submit</button>
        </form>
    </div>
</section>
